<!-- Code for Chapter 3-->
@if (Orders is not null && Orders.Any())
{
    <h1 class="">Đơn đặt hàng hiện tại của bạn</h1>
    @foreach (var (pizza, pos) in Pizzas)
    {
        <div class="row mb-2">
            <div class="col">
                @pizza.Name
            </div>
            <div class="col text-right">
                @($"{pizza.Price:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger"
                    @onclick="@(() => Selected.InvokeAsync(pos))">
                    Xóa
                </button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"> Tổng tiền:</div>
        <div class="col text-right font-weight-bold">@($"{TotalPrice:0.00}")</div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    }

<!-- New code for Chapter 4 - Resuable-->
@*@if (Pizzas.Any()) {
<ItemList Items="@Pizzas">
    <Header>
        <h1 class="">Giỏ Hàng Của bạn</h1>
    </Header>
    <RowTemplate Context="tuple">
        <PizzaItem Pizza="@tuple.pizza"
            ButtonTitle="Xóa"
            ButtonClass="btn btn-danger"           
            Selected="@(() =>
            Selected.InvokeAsync(tuple.pos))" />
    </RowTemplate>
    <Footer>
        
        <div class="row">
            <div class="col"></div>
            <div class="col"><hr /></div>
            <div class="col"> </div>
            <div class="col"> </div>
        </div>
        <div class="row">
            <div class="col"> Total:</div>
            <div class="col text-right font-weight-bold">
                @($"{TotalPrice:0.00}")
            </div>
            <div class="col"> </div>
            <div class="col"> </div>
            <div class="col"> </div>
        </div>
    </Footer>
</ItemList>
}*@

